.upfront-contact-form .ucontact-label-above {
    margin-bottom: 1.25em;
}
.ucontact-label-above label {
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0.25em;
}
 .ucontact-label-inline label {
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    line-height: 2.1em;
}
.upfront-contact-form input.ucontact-input,
.upfront-contact-form textarea.ucontact-input {
    background: #ufc5;
    border: 1px solid #ufc3;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    padding: 0.5em;
}
.upfront-contact-form input.ucontact-input:hover,
.upfront-contact-form textarea.ucontact-input:hover {
    color: #ufc4;
}
.upfront-contact-form input.ucontact-input:disabled,
.upfront-contact-form textarea.ucontact-input:disabled {
    border-color: #ufc2;
    color: #ufc2;
}
.upfront-contact-form .upfront-contact-form button[type="submit"] {
    background-color: #ufc6;
    color: #ufc4;
    font-family: 'Special Elite', Arial, sans-serif;
    padding: .5em 1.5em;
    text-transform: uppercase;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s;
}
.upfront-contact-form button[type="submit"]:disabled {
    background-color: #ufc0;
}
.upfront-contact-form button[type="submit"]:hover {
    background-color: #ufc3;
}
.upfront-contact-form .ucontact-message-container {
    margin: 0 0 1.5em;
}
 .ucontact-msg.msg {
    border: 2px solid transparent;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.9em;
    padding: 1em;
}
 .ucontact-msg.msg.error {
    background: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
 .ucontact-msg.msg.info,  .ucontact-msg.msg.info div p {
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.upfront-contact-form .ucontact-success-response {
    background-color: transparent;
    margin: 0 0 1.5em;
    padding: 0;
    position: relative;
}
.upfront-contact-form .ucontact-success-response:after {
    color: #3c763d;
}


/* 133620-1437265422-ai */