
.open-map-code-panel-button {
	display: inline-block;
	background: #e6f3ff;
	height: 30px;
	max-height: 30px;
	border: 1px solid #a3bfd9;
	border-radius: 3px;
}

.open-map-code-panel-button input {
	color: #30475e;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, sans-serif;
	padding: 0 10px;
}


<<<<<<< c923d6c9552225dd4c1e77fff6f1e847516d5961
/* 133620-1452731820-au */
=======
/* 133620-1452732040-au */
>>>>>>> Update Genesis and Upfront
