[submodule "daux"]
	path = daux
	url = https://lakesareadesign@github.com/lakesareadesign/daux.io.git
[submodule "cms"]
	path = cms
	url = https://github.com/WordPress/WordPress.git
[submodule "content/themes/roots"]
	path = content/themes/roots
	url = git@github.com:lakesareadesign/roots.git
[submodule "content/themes/Foundation5"]
	path = content/themes/Foundation5
	url = https://eric-miller@github.com/olefredrik/FoundationPress.git
[submodule "content/plugins/woocommerce"]
	path = content/plugins/woocommerce
	url = git@github.com:woothemes/woocommerce.git
[submodule "SRDB"]
	path = SRDB
	url = git@github.com:lakesareadesign/Search-Replace-DB.git
