#page .search-widget-archive input {
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0 70px 0 10px;
    background: #f2f2f2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page .search-widget-archive input[type="submit"] {
    width: auto;
    background: #ufc0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #ufc6;
    padding: 0 10px;
    color: #fff;
    overflow: hidden;
    float: right;
    margin-top: -35px;
}
#page .search-widget-archive input[type="submit"]:hover {
    background: #ufc6;
    border-top-color: #ufc0;
    border-bottom-color: transparent;
}


/* 133620-1437265398-ai */