#page .button-facebook.upfront-button a.upfront_cta {
    z-index: 1;
    width: 50px !important;
    height: 50px;
    display: block;
    position: relative;
    margin: 0 auto;
    background: url("UPFRONT_THEME_BASE/ui/sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -54px -523px;
    text-align: center;
    text-indent: -9999px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
#page .button-facebook.upfront-button a.upfront_cta:hover {
    background-position: -214px -523px;
}


/* 133620-1443653849-ai */