#page .plaintxt-home-page-2.upfront-plain_txt * {
    text-rendering: geometricPrecision;
}
#page .plaintxt-home-page-2.upfront-plain_txt h4 {
    line-height: 1.58em;
    letter-spacing: -0.7px;
}
#page .plaintxt-home-page-2.upfront-plain_txt p {
    font-size: 18px;
    line-height: 1.54em;
    letter-spacing: -0px;
}


/* 133620-1443653849-ai */