#page .plaintxt-contact.upfront-plain_txt h1 {
    letter-spacing: -0.4px;
}
#page .plaintxt-contact.upfront-plain_txt h1:after {
    content: "";
    width: 180px;
    height: 1px;
    display: block;
    margin-top: 25px;
    background: #333333;
}
#page .plaintxt-contact.upfront-plain_txt h4, #page .plaintxt-contact.upfront-plain_txt h4 a {
    font-family: "Quattrocento";
    letter-spacing: 0px;
}
#page .plaintxt-contact.upfront-plain_txt h4 {
    line-height: 0.5em;
}


/* 133620-1443653849-ai */