#page .plaintxt-single-page.upfront-plain_txt h1 {
    text-rendering: geometricPrecision;
    letter-spacing: -1.1px;
}
#page .plaintxt-single-page.upfront-plain_txt h4 {
    text-rendering: geometricPrecision;
    letter-spacing: -0.6px;
}
#page .plaintxt-single-page.upfront-plain_txt p {
    font-size: 18px;
    line-height: 1.45em;
    letter-spacing: 0.01px;
    text-rendering: geometricPrecision;
}


/* 133620-1443653849-ai */