#page .plaintxt-table-price.upfront-plain_txt {
    padding: 0 !important;
}
#page .plaintxt-table-price.upfront-plain_txt h1 {
    position: relative;
    font-size: 80px;
    line-height: 0.88em;
    font-family: "Quattrocento Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1.12px;
}
#page .plaintxt-table-price.upfront-plain_txt h1:after {
    content: "$";
    position: relative;
    vertical-align: top;
    color: #00a384;
    font-size: 44px;
    line-height: 0.75em;
}
#page .plaintxt-table-price.upfront-plain_txt h3 {
    line-height: 0.92em;
    letter-spacing: -0.2px;
}


/* 133620-1443653849-ai */