#page .plaintxt-addresses.upfront-plain_txt h1 {
    margin-bottom: 0 !important;
    line-height: 0.9em;
    letter-spacing: -1.7px;
}
#page .plaintxt-addresses.upfront-plain_txt h4 {
    line-height: 0.48em;
    letter-spacing: -0.2px;
}


/* 133620-1443653849-ai */