#page .plaintxt-404 .upfront-plain_txt h1 {
    line-height: 1em;
    letter-spacing: -0.2px;
}
#page .plaintxt-404 .upfront-plain_txt p {
    line-height: 0.8em;
    letter-spacing: -0.2px;
}


/* 133620-1443653849-ai */