  {
    text-rendering: geometricPrecision;
}
.upfront-plain_txt h6 {
    text-transform: uppercase;
}
.upfront-plain_txt a {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.upfront-plain_txt a, .upfront-plain_txt a:visited {
    border-bottom: 4px solid transparent;
}
.upfront-plain_txt a:hover {
    border-bottom-color: rgba(0, 163, 132, 0.8);
}
.upfront-plain_txt a:visited {
    color: #007051;
}
.upfront-plain_txt blockquote {
    position: relative;
}
.upfront-plain_txt blockquote:before {
    content: " ";
    width: 35px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -6px;
    background: url("UPFRONT_THEME_BASE/images/global-regions/footer/sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -393px -224px;
}
.upfront-plain_txt blockquote:after {
    content: " ";
    width: 35px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -6px;
    background: url("UPFRONT_THEME_BASE/ui/sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -372px -396px;
}
.upfront-plain_txt .upfront-quote-alternative {
    border-left: 4px solid #01bc9d;
}
.upfront-plain_txt .upfront-quote-alternative:before {
    display: none;
}
.upfront-plain_txt .wp-caption-text {
    padding-top: 0 !important;
}
.upfront-plain_txt .wp-caption-text p {
    color: #666666;
    font-size: 15px;
    line-height: 1em;
    font-family: "Quattrocento";
    font-weight: 400;
    font-style: normal;
}


/* 133620-1443653849-ai */