#page .plaintxt-pricing-title.upfront-plain_txt h1 {
    letter-spacing: 0;
}
#page .plaintxt-pricing-title.upfront-plain_txt h6 {
    line-height: 0.4em;
    letter-spacing: 0.44px;
    text-rendering: geometricPrecision;
}


/* 133620-1443653849-ai */