.ugallery_link .ugallery-thumb-title {
    opacity: 0;
    width: auto;
    display: block;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.7) !important;
    transition: all 0.2s ease-in-out;
}
.ugallery_link:hover .ugallery-thumb-title {
    opacity: 1;
}
.ugallery_link:active .ugallery-thumb-title {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
}
.ugallery_link > div.redactor-box {
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ugallery_link > div.redactor-box > div.redactor-box {
    width: 100%;
    height: 100%;
    display: block;
}
.ugallery_link .ugallery-thumb-title, .ugallery_link p {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-family: Quattrocento;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
.ugallery_link p:before {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    margin: 44% auto 30%;
    background: url("UPFRONT_THEME_BASE/ui/sprites.png");
    background-image: url("UPFRONT_THEME_BASE/ui/sprites.svg"), none;
    background-position: -690px -372px;
}
.ugallery_labels {
    margin-bottom: 45px;
    text-align: center;
}
.ugallery_label_filter {
    display: inline-block;
    margin-right: 30px;
    padding: 5px 22px 4px;
    border: 1px solid #00a384 !important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: transparent;
    color: #00a384;
    font-size: 14px;
    line-height: 1.4em;
    text-transform: uppercase;
    transition: background 0.5s ease-in-out, border-color 0.25s ease, color 0.5s ease;
    -ms-transition: background 0.5s ease-in-out, border-color 0.25s ease, color 0.5s ease;
    -moz-transition: background 0.5s ease-in-out, border-color 0.25s ease, color 0.5s ease;
    -webkit-transition: background 0.5s ease-in-out, border-color 0.25s ease, color 0.5s ease;
}
.ugallery_label_filter:last-child {
    margin-right: 0;
}
.ugallery_label_filter:hover, .ugallery_label_filter:active {
    border-color: #008a7a;
    background: #00a384;
    color: #ffffff !important;
}


/* 133620-1443653849-ai */