#page .u-section-title h1, #page .u-section-title h2 {
    display: table;
    margin: 0 auto;
    white-space: normal;
    text-transform: none;
}
#page .u-section-title h1:after, #page .u-section-title h2:after {
    background: #ufc1;
    content: "";
    display: block;
    height: 2px;
    margin-top: 0;
}


/* 133620-1437265422-ai */