#page .button-apple-large.upfront-button {
    background:url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    background-position: -193px -195px;
    width: 82px;
    height: 82px;
    /* center within wrapper */
    position: relative;
    left: 50%;
    -webkit-transform: translatex(-41px);
        -ms-transform: translatex(-41px);
            transform: translatex(-41px);
}


/* 133620-1442728049-ai */