#page .button-speech.upfront-button {
    background:url("UPFRONT_THEME_BASE/ui/sprite.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/sprite.svg"), none;
    background-position: -196px -520px;
    width: 75px;
    height: 75px;
    /* center within wrapper */
    position: relative;
    left: 50%;
    -webkit-transform: translatex(-40px);
        -ms-transform: translatex(-40px);
            transform: translatex(-40px);
}


/* 133620-1442728049-ai */