div.upfront-navigation div[data-style="burger"] ul.menu {
    background-color: #ffffff;
}
 div.responsive_nav_toggler {
    border-radius: 0;
    border: none;
    display: block;
    margin: 0 auto;
    width: 60px;
    float: none;
}
 div.responsive_nav_toggler > div {
    background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    height: 5px;
}
 div.responsive_nav_toggler:hover > div {
    background-color: #ffffff;
}
 div[data-style='burger'] ul.menu {
    background-color: #ffffff !important;
}
 div[data-style='burger'] ul.menu > li {
    text-align: left;
}
 i.burger_nav_close {
    border: none;
}
 i.burger_nav_close:before {
    color: #2a8a5e;
    font-size: 40px;
}


/* 133620-1442728049-ai */