#page .ucontact-scribe-style .ucontact-input {
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ufc0;
    opacity: 0.9;
    padding: 15px;
    margin-bottom: 20px;
    padding-left: 8px;
    font-size: 16px;
    font-family: Lato;
}
#page .ucontact-scribe-style .ucontact-input:focus {
    opacity: 1;
}
#page .ucontact-scribe-style textarea.ucontact-input {
    resize: none;
    height: 130px;
}
#page .ucontact-scribe-style .submit-field {
    display: block;
    float: right;
    font-family: Lato;
    font-size: 16px;
    color: #ffffff;
    background: #ufc0;
    border-top: 3px solid #ufc0;
    border-bottom: 3px solid #ufc6;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 15px;
    height: 35px;
    width: 340px;
    max-width: 100%;
    line-height: 1;
}
#page .ucontact-scribe-style .submit-field:hover {
    background: #ufc6;
    border-top: 3px solid #ufc0;
    border-bottom: 3px solid #ufc6;
}


/* 133620-1437265398-ai */