.uslide-caption {
 padding: 3em 0;
}
.upfront-default-slider-nav-item {
    background-color: #666 !important;
}
.uslider-dotnav-current {
    background-color: #63c9e2 !important;
}


/* 133620-1442728049-ai */