#page .single-post-mobile .part-date,
#page .single-post-mobile .part-author_gravatar {
    width: 50%;
}
#page .single-post-mobile .part-date .upfront-postpart-date,
#page .single-post-mobile .part-author_gravatar .upfront-postpart-author_gravatar {
	max-width: 100%;
	padding: 0 15px;
}
#page .single-post-mobile .part-author_gravatar .upfront-postpart-author_gravatar {
	margin-left: 0;
}
#page .single-post-mobile .part-title,
#page .single-post-mobile .part-contents {
	width: 100%;
}
#page .single-post-mobile .part-title > .post-part {
	margin-top: 30px;
}
#page .single-post-mobile .part-contents > .post-part {
	margin-top: 30px;
	margin-left: 0;
	width: 100%;
}


/* 133620-1437265422-ai */