a.post_author div.upfront-content-marker-author {
 color: #666;
 font-weight: 700;
 text-align: right;
 display: inline-block;
}
a.post_author, a.post_author:hover, a.post_author:focus {
    color: #666;
    font-weight: 700 !important;
}
a.post_author {
    float: right;
}


/* 133620-1442728049-ai */