#page .plaintxt-underlined-style .upfront-plain_txt:after {
    position: absolute;
    width: 50%;
    content: "";
    display: block;
    border-bottom: 1px solid #C09533;
    left: 25%;
    padding-top: 1.5em;
}


/* 133620-1437265398-ai */